%p
  - if session[:time_zone_offset]
    = "It's #{pretty_clock} o clock."
    = raga_suggestion
    = "Or #{link_to("list all ragas", ragas_path(filter: {time: time_to_prahar}))} suitable for this time.".html_safe
  - else
    :javascript
      var timeZoneOffset = (new Date().getTimezoneOffset()/60)*(-1)
      $("#raga_suggestion").load("/ragas/suggestion?time_zone_offset="+timeZoneOffset)