- title "Listing Ragas"

= render partial: "suggestion"

= image_tag "swirl.png", class: "swirl"

%h2 RÄgas

.filter
  %p
    Filtering on 
    %span.filter-name time 09-12
    = link_to("remove filter", root_path, id: "remove-filter-link")
    = "."

%table#ragas
  %thead
    %tr
      %th.title{data: {"sort" => "string"}}
        .left= "Title"
        = image_tag "sort_arrow.gif"
      %th.time{data: {"sort" => "string"}}
        .left= "Time"
        = image_tag "sort_arrow.gif"
      %th.chakra{data: {"sort" => "string"}}
        .left= "Chakra"
        = image_tag "sort_arrow.gif"
      %th.thaat{data: {"sort" => "string"}}
        .left= "Thaat"
        = image_tag "sort_arrow.gif"
      %th.spotify
  %tbody
    = render :partial => @ragas
