- title @raga.title

%h2= @page_title

- if @raga.description
  = simple_format @raga.description

= attribute_for @raga, :time, :value => @raga.pretty_time if @raga.time.present?
- if @raga.chakra.present?
  = attribute_for @raga, :chakra, :value => @raga.pretty_chakra
  = chakra_image @raga.chakra
= attribute_for @raga, :ascending_scale
= attribute_for @raga, :descending_scale
= attribute_for @raga, :pakad if @raga.pakad.present?
= attribute_for @raga, :drone if @raga.drone.present?

= swf_tag "claviature", :size => "550x130", :flashvars => {:ascending => @raga.ascending_scale, :descending => @raga.descending_scale}

- if @raga.spotify_playlist_url
  %p= link_to image_tag("spotify-logo.png"), @raga.spotify_playlist_url

- if @clips.present?
  %h1= "Clips"
  - @clips.each do |clip|
    .clip
      %h3= clip.title
      = clip.embed_code.html_safe

%h2= "Add Clip"
= semantic_form_for @clip do |form|
  = form.inputs do
    = form.input :url
    = form.input :title, :required => false, :hint => "Fetched from youtube if left blank"
    = form.input :raga_id, as: :hidden
  = form.actions do
    = form.action :submit, as: :button

= link_to 'Edit', edit_raga_path(@raga)