<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raagtime - <%= @page_title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%- if params[:action] == "index" %>
      <meta name="description" content="Raagtime is a database of Indian ragas (classical music) including spotify links for listening and recommendation of what time of day they should be listened to.">
    <% end %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40500274-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })()
    </script>
  </head>
  <body>
    <div id="site">
      <h1><a href="/">Raagtime - From Dawn till Dusk</a></h1>
      <%= render partial: "layouts/flash_messages" %>
      <%= image_tag "swirl.png", class: "swirl" %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
